<!--
// Project MD Backend
// about.ejs
// about page
// (c) 2024 Jeongwoo Kim and his colleagues
-->
<h1>About</h1>
<hr>
<h3>
    This is an open-source bulletin board system based on Node.js, JavaScript, and MongoDB that supports basic functionalities including account creation, login, logout, post creation, post editing, post deletion, and post viewing.
</h3>