<!--
// Project Open Standard Web Board Project Backend
// accountCreated.ejs
// (c) 2024 Jeongwoo Kim, based on https://github.com/funnycom/doit-node/tree/main/myBlog
-->
<h3>Success</h3>

<a href="/login">Login</a>