<!--
// Project Open Standard Web Board Project Backend
// addPost.ejs
// (c) 2024 Jeongwoo Kim, based on https://github.com/funnycom/doit-node/tree/main/myBlog
-->
<a href = "/allPosts">&larr; Back</a>
<div class = "admin-title">
    <h2>
        <%= locals.title %>
    </h2>
</div>

<form action = "/add" method = "POST" id = "add">
    <label for = "title"><b>Post Title</b></label>
    <input type = "text" placeholder="Post title" name = title id = "title">
    <span id = "postTitleMessage"></span><br><br>

    <label for = "body"><b>Post content</b></label>
    <textarea placeholder="Post content" name = "body" id = "body" cols="50" rows="10"></textarea>
    <span id = "postContentMessage"></span><br><br>

    <input type = "submit" value="등록" class = "btn">
</form>

<script>
    function titleLengthCheck(title) {
        if (title.length >= 5) {
            return true;
        }

        return false;
    }

    function titleBlankCheck(title) {
        const regex = /^\s*$/;
        
        return regex.test(title);
    }

    function contentLengthCheck(content) {
        if (content.length >= 10) {
            return true;
        }

        return false;
    }

    document.getElementById('title').addEventListener('input', () => {
        const title = document.getElementById('title').value;
        const titleMessage = document.getElementById('postTitleMessage');

        if (titleLengthCheck(title) && !titleBlankCheck(title)) {
            titleMessage.textContent = "Nice title!";
            titleMessage.className = "success";
        } else if (titleBlankCheck(title)) {
            titleMessage.textContent = "The post title should not be all blank.";
            titleMessage.className = "error";
        } else {
            titleMessage.textContent = "The post title should be at least 5 characters long.";
            titleMessage.className = "error";
        }
    });

    document.getElementById('body').addEventListener('input', () => {
        const body = document.getElementById('body').value;
        const bodyMessage = document.getElementById('postContentMessage');

        if (contentLengthCheck(body)) {
            bodyMessage.textContent = "Nice content!";
            bodyMessage.className = "success";
        } else {
            bodyMessage.textContent = "The post content should be at least 10 characters long.";
            bodyMessage.className = "error";
        }
    });

    document.getElementById('add').addEventListener('submit', (event) => {
        const title = document.getElementById('title').value;
        const titleMessage = document.getElementById('postTitleMessage');
        const body = document.getElementById('body').value;
        const bodyMessage = document.getElementById('postContentMessage');

        if (!titleLengthCheck(title)) {
            event.preventDefault();
            titleMessage.textContent = "The post title should be at least 5 characters long.";
            titleMessage.className = "error";
        }
        if (!contentLengthCheck(body)) {
            event.preventDefault();
            bodyMessage.textContent = "The post content should be at least 10 characters long.";
            bodyMessage.className = "error";
        }
        if (titleBlankCheck(title)) {
            event.preventDefault();
            titleMessage.textContent = "The post title should not be all blank.";
            titleMessage.className = "error";
        }
    });
</script>